In [5]:
import pandas as pd
import numpy as np

# Dropping Columns in a DF

In [11]:
df = pd.read_csv('/Users/mike/Github/python-data-cleaning/Datasets/BL-Flickr-Images-Book.csv')
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [12]:
# 可以看到feature值的空白与否
# 删除值
to_drop = ['Edition Statement',
                'Corporate Author',
                'Corporate Contributors',
                'Former owner',
                'Engraver',
                'Contributors',
                'Issuance type',
                'Shelfmarks']
df.drop(to_drop, inplace = True, axis= 1)

## [drop函数详解](https://blog.csdn.net/nuaadot/article/details/78304642)

### 清理无效数据

In [6]:
df[df.isnull()]  #返回的是个true或false的Series对象（掩码对象），进而筛选出我们需要的特定数据。
df[df.notnull()]

df.dropna()     #将所有含有nan项的row删除
df.dropna(axis=1,thresh=3)  #将在列的方向上三个为NaN的项删除
df.dropna(how='all')        #将全部项都是nan的row删除

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
5,481,London,1875,William Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
6,519,London,1872,The Author,Lagonells. By the author of Darmayne (F. E. A....,"A., F. E.",http://www.flickr.com/photos/britishlibrary/ta...
7,667,"pp. 40. G. Bryan & Co: Oxford, 1898",NaN,NaN,"The Coming of Spring, and other poems. By J. A...","A., J.|A., J.",http://www.flickr.com/photos/britishlibrary/ta...
8,874,London],1676,NaN,"A Warning to the inhabitants of England, and L...",Remaʿ.,http://www.flickr.com/photos/britishlibrary/ta...
9,1143,London,1679,NaN,A Satyr against Vertue. (A poem: supposed to b...,"A., T.",http://www.flickr.com/photos/britishlibrary/ta...
10,1280,Coventry,1802,Printed by J. Turner,"An Account of the many and great Loans, Benefa...",NaN,http://www.flickr.com/photos/britishlibrary/ta...
11,1808,Christiania,1859,NaN,Erindringer som Bidrag til Norges Historie fra...,"AALL, Jacob.",http://www.flickr.com/photos/britishlibrary/ta...
12,1905,Firenze,1888,NaN,Gli Studi storici in terra d'Otranto ... Framm...,"AAR, Ermanno - pseud. [i.e. Luigi Giuseppe Oro...",http://www.flickr.com/photos/britishlibrary/ta...
13,1929,Amsterdam,"1839, 38-54",NaN,De Aardbol. Magazijn van hedendaagsche land- e...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
14,2836,Savona,1897,NaN,Cronache Savonesi dal 1500 al 1570 ... Accresc...,"ABATE, Giovanni Agostino.",http://www.flickr.com/photos/britishlibrary/ta...
15,2854,London,1865,E. Moxon & Co.,"See-Saw; a novel ... Edited [or rather, writte...","ABATI, Francesco.",http://www.flickr.com/photos/britishlibrary/ta...
16,2956,Paris,1860-63,NaN,"Géodésie d'une partie de la Haute Éthiopie,...","ABBADIE, Antoine Thompson d'.",http://www.flickr.com/photos/britishlibrary/ta...
17,2957,Paris,1873,NaN,[With eleven maps.],"ABBADIE, Antoine Thompson d'.",http://www.flickr.com/photos/britishlibrary/ta...
18,3017,Puerto-Rico,1866,NaN,"[Historia geográfica, civil y politica de la ...","ABBAD Y LASIERRA, Agustín Íñigo - Bishop of...",http://www.flickr.com/photos/britishlibrary/ta...
19,3131,New York,1899,W. Abbatt,"The Crisis of the Revolution, being the story ...","ABBATT, William.",http://www.flickr.com/photos/britishlibrary/ta...
20,4598,Hull,1814,The Author,Peace: a lyric poem. [With prefatory address b...,"ABBOTT, Thomas Eastoe.",http://www.flickr.com/photos/britishlibrary/ta...
21,4884,London,1820,J. Hatchard & Son,"Abdallah; or, The Arabian Martyr: a Christian ...",NaN,http://www.flickr.com/photos/britishlibrary/ta...
22,4976,Oxonii,1800,"J. Cooke, etc.",[Abdollatiphi Historiæ Ægypti compendium. [Wit...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
23,5382,London,"1847, 48 [1846-48]",Punch Office,The Comic History of England ... With ... colo...,"A'BECKETT, Gilbert Abbott.",http://www.flickr.com/photos/britishlibrary/ta...
24,5385,London,[1897?],"Bradbury, Agnew & Co.",[The comic history of England ... With twenty ...,"A'BECKETT, Gilbert Abbott.",http://www.flickr.com/photos/britishlibrary/ta...
25,5389,London,[1897?],"Bradbury, Agnew & Co.",[The Comic History of Rome ... Illustrated by ...,"A'BECKETT, Gilbert Abbott.",http://www.flickr.com/photos/britishlibrary/ta...
26,5432,Milano,1893,NaN,Signa: opera in tre atti [founded on the novel...,"A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)",http://www.flickr.com/photos/britishlibrary/ta...
27,6036,London,1805,C. & R. Baldwin,"The Venetian Outlaw, a drama in three acts ......",NaN,http://www.flickr.com/photos/britishlibrary/ta...
28,6821,Aberdeen,1837,J. Davidson & Co.,Description of the Coast between Aberdeen and ...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
29,7521,Wien,1896,NaN,Aus Kaukasischen Ländern. Reisebriefe von H. ...,"ABICH, Wilhelm Hermann.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...,...
8257,4053464,"London: E. Nutt; E. Cooke, 1733",NaN,NaN,A friendly epistle [by Joseph Mitchell?] to th...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
8258,4063671,London,1896,Richard Bentley & Son,Honor Ormthwaite. By the author of “Lady Jean'...,"KEDDIE, Henrietta.",http://www.flickr.com/photos/britishlibrary/ta...
8259,4072044,"London: D. Wilson & T. Durham, 1752",NaN,NaN,"The scale: or, Woman weighed with man. A poem ...","MONCREIFF, John.",http://www.flickr.com/photos/britishlibrary/ta...
8260,4077038,"London: printed for Nicholas Vavasour, 1634",NaN,NaN,"The noble souldier. Or, A contract broken, jus...","ROWLEY, Samuel - Dramatist",http://www.flickr.com/photos/britishlibrary/ta...
8261,4079258,Glasgow,1750,"printed for John Ross, bookseller in Edinburgh",[Yarico to Inkle.] The epistle of Yarico to In...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
8262,4079262,London,1879,NaN,The Canadian farmer. A missionary incident. [S...,"YATES, William Joseph H.",http://www.flickr.com/photos/britishlibrary/ta...
8263,4112297,"London: Macmillan & Co., pp. xl, 400. 1895",NaN,NaN,Japhet in search of a Father ... With an intro...,"Marryat, Frederick",http://www.flickr.com/photos/britishlibrary/ta...
8264,4112525,Pontoise,1889,NaN,Histoire populaire de Pontoise ... Précédée...,"DEPOIN, Joseph.",http://www.flickr.com/photos/britishlibrary/ta...
8265,4112839,London,[1845.],Willoughby & Co.,The Vicar of Wakefield ... And a prefatory mem...,"Goldsmith, Oliver",http://www.flickr.com/photos/britishlibrary/ta...
8266,4113012,Philadelphia,1876,S. W. Burley,1776 American Enterprise. 1876. Burley's Unite...,"KIDDER, Charles Holland.|Pope, Alexander",http://www.flickr.com/photos/britishlibrary/ta...
8267,4113816,"pp. xxvi, 375. London: Jackson, Walford & Hodd...",NaN,NaN,The lacemakers: sketches of Irish characters w...,"MEREDITH, Susanna.|WIBERG, Carl Fredrik.",http://www.flickr.com/photos/britishlibrary/ta...
8268,4114334,"pp. viii. 64. J. Debrett: London, 1789",NaN,NaN,"The Sword of Peace; or, a voyage of love; a co...",NaN,http://www.flickr.com/photos/britishlibrary/ta...
8269,4114390,London,1708,NaN,"THe Unfortunate Dutchess of Malfy, or, The Unn...","WEBSTER, John - Dramatist|SCOTT, Michael - of ...",http://www.flickr.com/photos/britishlibrary/ta...
8270,4114889,London,[1868],NaN,"The 5 Alls. A collection of stories, charades,...",NaN,http://www.flickr.com/photos/britishlibrary/ta...
8271,4114986,London,1777,J. Wenman,[Barbarossa. A tragedy. As it is performed at ...,"BROWN, John - Vicar of Newcastle-upon-Tyne",http://www.flickr.com/photos/britishlibrary/ta...
8272,4115138,"G. Eld: London, 1608",NaN,NaN,The Revenger's Tagaedie. As it hath beene sund...,NaN,http://www.flickr.com/photos/britishlibrary/ta...
8273,4116063,London,1866,[John Dicks],"Edith Heron; or, the Earl and the countess. [B...","HERON, Edith.",http://www.flickr.com/photos/britishlibrary/ta...
8274,4117526,Leipzig,1862,Charles Fr. Fleischer,Abridgment of the History of England ... Adapt...,"Goldsmith, Oliver",http://www.flickr.com/photos/britishlibrary/ta...
8275,4117583,London,1894,T. Fisher Unwin,The Wish. A novel by Hermann Sudermann. Transl...,"SUDERMANN, Hermann.",http://www.flickr.com/photos/britishlibrary/ta...
8276,4117749,New York,1868,John Wiley & Son,A System of Mineralogy. Descriptive Mineralogy...,"DANA, James Dwight.",http://www.flickr.com/photos/britishlibrary/ta...
8277,4117751,New York,1882,John Wiley & Sons,Third Appendix to the fifth edition of Dana's ...,"DANA, James Dwight.",http://www.flickr.com/photos/britishlibrary/ta...
8278,4117752,London,"1883, [1884]",Trübner & Co.,"A System of Mineralogy ... Fifth edition, rewr...","DANA, James Dwight.",http://www.flickr.com/photos/britishlibrary/ta...
8279,4156359,New York,1898-1912,G. P. Putnam's Sons,History of the People of the Netherlands ... T...,"BLOK, Pieter Johan.",http://www.flickr.com/photos/britishlibrary/ta...
8280,4157746,London,1811,F. C. and J. Rivington,"The New Chronicles of England and France, in t...","FABYAN, Robert.",http://www.flickr.com/photos/britishlibrary/ta...
8281,4157862,Newcastle-upon-Tyne,1867,T. Fordyce,"Local Records; or, Historical Register of rema...","FORDYCE, T. - Printer, of Newcastle-upon-Tyne",http://www.flickr.com/photos/britishlibrary/ta...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...
8283,4158128,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...
8284,4159563,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...
8286,4160339,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...

### 填充无效值

In [7]:
df.fillna(0)
df.fillna({1:0, 2:0.5})         #对第一列nan值赋0，第二列赋值0.5
df.fillna(method='ffill')   #在列方向上以前一个值作为值赋给NaN

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
5,481,London,1875,William Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
6,519,London,1872,The Author,Lagonells. By the author of Darmayne (F. E. A....,"A., F. E.",http://www.flickr.com/photos/britishlibrary/ta...
7,667,"pp. 40. G. Bryan & Co: Oxford, 1898",1872,The Author,"The Coming of Spring, and other poems. By J. A...","A., J.|A., J.",http://www.flickr.com/photos/britishlibrary/ta...
8,874,London],1676,The Author,"A Warning to the inhabitants of England, and L...",Remaʿ.,http://www.flickr.com/photos/britishlibrary/ta...
9,1143,London,1679,The Author,A Satyr against Vertue. (A poem: supposed to b...,"A., T.",http://www.flickr.com/photos/britishlibrary/ta...
10,1280,Coventry,1802,Printed by J. Turner,"An Account of the many and great Loans, Benefa...","A., T.",http://www.flickr.com/photos/britishlibrary/ta...
11,1808,Christiania,1859,Printed by J. Turner,Erindringer som Bidrag til Norges Historie fra...,"AALL, Jacob.",http://www.flickr.com/photos/britishlibrary/ta...
12,1905,Firenze,1888,Printed by J. Turner,Gli Studi storici in terra d'Otranto ... Framm...,"AAR, Ermanno - pseud. [i.e. Luigi Giuseppe Oro...",http://www.flickr.com/photos/britishlibrary/ta...
13,1929,Amsterdam,"1839, 38-54",Printed by J. Turner,De Aardbol. Magazijn van hedendaagsche land- e...,"AAR, Ermanno - pseud. [i.e. Luigi Giuseppe Oro...",http://www.flickr.com/photos/britishlibrary/ta...
14,2836,Savona,1897,Printed by J. Turner,Cronache Savonesi dal 1500 al 1570 ... Accresc...,"ABATE, Giovanni Agostino.",http://www.flickr.com/photos/britishlibrary/ta...
15,2854,London,1865,E. Moxon & Co.,"See-Saw; a novel ... Edited [or rather, writte...","ABATI, Francesco.",http://www.flickr.com/photos/britishlibrary/ta...
16,2956,Paris,1860-63,E. Moxon & Co.,"Géodésie d'une partie de la Haute Éthiopie,...","ABBADIE, Antoine Thompson d'.",http://www.flickr.com/photos/britishlibrary/ta...
17,2957,Paris,1873,E. Moxon & Co.,[With eleven maps.],"ABBADIE, Antoine Thompson d'.",http://www.flickr.com/photos/britishlibrary/ta...
18,3017,Puerto-Rico,1866,E. Moxon & Co.,"[Historia geográfica, civil y politica de la ...","ABBAD Y LASIERRA, Agustín Íñigo - Bishop of...",http://www.flickr.com/photos/britishlibrary/ta...
19,3131,New York,1899,W. Abbatt,"The Crisis of the Revolution, being the story ...","ABBATT, William.",http://www.flickr.com/photos/britishlibrary/ta...
20,4598,Hull,1814,The Author,Peace: a lyric poem. [With prefatory address b...,"ABBOTT, Thomas Eastoe.",http://www.flickr.com/photos/britishlibrary/ta...
21,4884,London,1820,J. Hatchard & Son,"Abdallah; or, The Arabian Martyr: a Christian ...","ABBOTT, Thomas Eastoe.",http://www.flickr.com/photos/britishlibrary/ta...
22,4976,Oxonii,1800,"J. Cooke, etc.",[Abdollatiphi Historiæ Ægypti compendium. [Wit...,"ABBOTT, Thomas Eastoe.",http://www.flickr.com/photos/britishlibrary/ta...
23,5382,London,"1847, 48 [1846-48]",Punch Office,The Comic History of England ... With ... colo...,"A'BECKETT, Gilbert Abbott.",http://www.flickr.com/photos/britishlibrary/ta...
24,5385,London,[1897?],"Bradbury, Agnew & Co.",[The comic history of England ... With twenty ...,"A'BECKETT, Gilbert Abbott.",http://www.flickr.com/photos/britishlibrary/ta...
25,5389,London,[1897?],"Bradbury, Agnew & Co.",[The Comic History of Rome ... Illustrated by ...,"A'BECKETT, Gilbert Abbott.",http://www.flickr.com/photos/britishlibrary/ta...
26,5432,Milano,1893,"Bradbury, Agnew & Co.",Signa: opera in tre atti [founded on the novel...,"A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)",http://www.flickr.com/photos/britishlibrary/ta...
27,6036,London,1805,C. & R. Baldwin,"The Venetian Outlaw, a drama in three acts ......","A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)",http://www.flickr.com/photos/britishlibrary/ta...
28,6821,Aberdeen,1837,J. Davidson & Co.,Description of the Coast between Aberdeen and ...,"A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)",http://www.flickr.com/photos/britishlibrary/ta...
29,7521,Wien,1896,J. Davidson & Co.,Aus Kaukasischen Ländern. Reisebriefe von H. ...,"ABICH, Wilhelm Hermann.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...,...
8257,4053464,"London: E. Nutt; E. Cooke, 1733",1801,"Vernor & Hood, etc.",A friendly epistle [by Joseph Mitchell?] to th...,"DAY, Walter.",http://www.flickr.com/photos/britishlibrary/ta...
8258,4063671,London,1896,Richard Bentley & Son,Honor Ormthwaite. By the author of “Lady Jean'...,"KEDDIE, Henrietta.",http://www.flickr.com/photos/britishlibrary/ta...
8259,4072044,"London: D. Wilson & T. Durham, 1752",1896,Richard Bentley & Son,"The scale: or, Woman weighed with man. A poem ...","MONCREIFF, John.",http://www.flickr.com/photos/britishlibrary/ta...
8260,4077038,"London: printed for Nicholas Vavasour, 1634",1896,Richard Bentley & Son,"The noble souldier. Or, A contract broken, jus...","ROWLEY, Samuel - Dramatist",http://www.flickr.com/photos/britishlibrary/ta...
8261,4079258,Glasgow,1750,"printed for John Ross, bookseller in Edinburgh",[Yarico to Inkle.] The epistle of Yarico to In...,"ROWLEY, Samuel - Dramatist",http://www.flickr.com/photos/britishlibrary/ta...
8262,4079262,London,1879,"printed for John Ross, bookseller in Edinburgh",The Canadian farmer. A missionary incident. [S...,"YATES, William Joseph H.",http://www.flickr.com/photos/britishlibrary/ta...
8263,4112297,"London: Macmillan & Co., pp. xl, 400. 1895",1879,"printed for John Ross, bookseller in Edinburgh",Japhet in search of a Father ... With an intro...,"Marryat, Frederick",http://www.flickr.com/photos/britishlibrary/ta...
8264,4112525,Pontoise,1889,"printed for John Ross, bookseller in Edinburgh",Histoire populaire de Pontoise ... Précédée...,"DEPOIN, Joseph.",http://www.flickr.com/photos/britishlibrary/ta...
8265,4112839,London,[1845.],Willoughby & Co.,The Vicar of Wakefield ... And a prefatory mem...,"Goldsmith, Oliver",http://www.flickr.com/photos/britishlibrary/ta...
8266,4113012,Philadelphia,1876,S. W. Burley,1776 American Enterprise. 1876. Burley's Unite...,"KIDDER, Charles Holland.|Pope, Alexander",http://www.flickr.com/photos/britishlibrary/ta...
8267,4113816,"pp. xxvi, 375. London: Jackson, Walford & Hodd...",1876,S. W. Burley,The lacemakers: sketches of Irish characters w...,"MEREDITH, Susanna.|WIBERG, Carl Fredrik.",http://www.flickr.com/photos/britishlibrary/ta...
8268,4114334,"pp. viii. 64. J. Debrett: London, 1789",1876,S. W. Burley,"The Sword of Peace; or, a voyage of love; a co...","MEREDITH, Susanna.|WIBERG, Carl Fredrik.",http://www.flickr.com/photos/britishlibrary/ta...
8269,4114390,London,1708,S. W. Burley,"THe Unfortunate Dutchess of Malfy, or, The Unn...","WEBSTER, John - Dramatist|SCOTT, Michael - of ...",http://www.flickr.com/photos/britishlibrary/ta...
8270,4114889,London,[1868],S. W. Burley,"The 5 Alls. A collection of stories, charades,...","WEBSTER, John - Dramatist|SCOTT, Michael - of ...",http://www.flickr.com/photos/britishlibrary/ta...
8271,4114986,London,1777,J. Wenman,[Barbarossa. A tragedy. As it is performed at ...,"BROWN, John - Vicar of Newcastle-upon-Tyne",http://www.flickr.com/photos/britishlibrary/ta...
8272,4115138,"G. Eld: London, 1608",1777,J. Wenman,The Revenger's Tagaedie. As it hath beene sund...,"BROWN, John - Vicar of Newcastle-upon-Tyne",http://www.flickr.com/photos/britishlibrary/ta...
8273,4116063,London,1866,[John Dicks],"Edith Heron; or, the Earl and the countess. [B...","HERON, Edith.",http://www.flickr.com/photos/britishlibrary/ta...
8274,4117526,Leipzig,1862,Charles Fr. Fleischer,Abridgment of the History of England ... Adapt...,"Goldsmith, Oliver",http://www.flickr.com/photos/britishlibrary/ta...
8275,4117583,London,1894,T. Fisher Unwin,The Wish. A novel by Hermann Sudermann. Transl...,"SUDERMANN, Hermann.",http://www.flickr.com/photos/britishlibrary/ta...
8276,4117749,New York,1868,John Wiley & Son,A System of Mineralogy. Descriptive Mineralogy...,"DANA, James Dwight.",http://www.flickr.com/photos/britishlibrary/ta...
8277,4117751,New York,1882,John Wiley & Sons,Third Appendix to the fifth edition of Dana's ...,"DANA, James Dwight.",http://www.flickr.com/photos/britishlibrary/ta...
8278,4117752,London,"1883, [1884]",Trübner & Co.,"A System of Mineralogy ... Fifth edition, rewr...","DANA, James Dwight.",http://www.flickr.com/photos/britishlibrary/ta...
8279,4156359,New York,1898-1912,G. P. Putnam's Sons,History of the People of the Netherlands ... T...,"BLOK, Pieter Johan.",http://www.flickr.com/photos/britishlibrary/ta...
8280,4157746,London,1811,F. C. and J. Rivington,"The New Chronicles of England and France, in t...","FABYAN, Robert.",http://www.flickr.com/photos/britishlibrary/ta...
8281,4157862,Newcastle-upon-Tyne,1867,T. Fordyce,"Local Records; or, Historical Register of rema...","FORDYCE, T. - Printer, of Newcastle-upon-Tyne",http://www.flickr.com/photos/britishlibrary/ta...
8282,4158088,London,1838,T. Fordyce,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...
8283,4158128,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...
8284,4159563,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...
8286,4160339,London,1834-43,Mackenzie & Dent,Collectanea Topographica et Genealogica. [Firs...,"Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...

### drop函数的使用

#### （1）drop函数的使用：删除行、删除列

In [8]:
print frame.drop(['a']) # 默认删除行
print frame.drop(['Ohio'], axis = 1) # 1列0行 axis

SyntaxError: invalid syntax (<ipython-input-8-d6f7530d65d8>, line 1)

#### （2）drop函数的使用：inplace参数

In [ ]:
DF= DF.drop('column_name', axis=1)；
DF.drop('column_name',axis=1, inplace=True)
DF.drop([DF.columns[[0,1, 3]]], axis=1, inplace=True)   # Note: zero indexed

注意：凡是会对原数组作出修改并返回一个新数组的，往往都有一个 inplace可选参数。如果手动设定为True（默认为False），那么原数组直接就被替换。也就是说，采用inplace=True之后，原数组名（如2和3情况所示）对应的内存值直接改变；

#### （3）drop函数的使用：数据类型转换

In [ ]:
df['Name'] = df['Name'].astype(np.da tetime64)

DataFrame.astype() 方法可对整个DataFrame或某一列进行数据格式转换，支持Python和NumPy的数据类型。

# Changing the Index of a DataFrame

In [9]:
df['Identifier'].is_unique

True

In [10]:
df = df.set_index('Identifier')
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [11]:
df.loc[206]

Place of Publication                                               London
Date of Publication                                           1879 [1878]
Publisher                                                S. Tinsley & Co.
Title                                   Walter Forbes. [A novel.] By A. A
Author                                                              A. A.
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 206, dtype: object

## Tidying up Field in the Data

In [12]:
df.get_dtype_counts()

object    6
dtype: int64

In [13]:
df.loc[1905:, 'Date of Publication'].head(10)

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
Name: Date of Publication, dtype: object

In [14]:
extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
# 正则表达式
#\d表示任意数字，{4}重复这个规则四次。^字符匹配字符串的开头，括号表示一个捕获组，
# 该捕获组向熊猫发出信号，表示我们要提取正则表达式的这一部分。我们想避免[以字符串开头]的情况。
# 用正则表达式表达数据集
extr.head()

Identifier
206    1879
216    1868
218    1869
472    1851
480    1857
Name: Date of Publication, dtype: object

In [15]:
df['Date of Publication'] = pd.to_numeric(extr)
df['Date of Publication'].dtype
# to_numeric 转为数值 不能处理 Serice

dtype('float64')

In [16]:
df['Date of Publication'].isnull().sum()/len(df)
#这导致每10个值中就有1个丢失，这对于现在能够对剩余的有效值进行计算来说是一个很小的代价:

0.11717147339205986

## Combining str Methods with NumPy to Clean Columns

To clean the Place of Publication field, we can combine Pandas str methods with NumPy’s np.where function, which is basically a vectorized form of Excel’s IF() macro. It has the following syntax:

In [17]:
np.where(, then, else)

SyntaxError: invalid syntax (<ipython-input-17-317ffd659858>, line 1)

In [18]:
np.where(condition1, x1,
        np.where(condition2, x2),
            np.where(condition3, x3))

NameError: name 'condition1' is not defined

In [19]:
df['Place of Publication'].head(10)

Identifier
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
Name: Place of Publication, dtype: object

two specific ectries

In [20]:
df.loc[4157862]

Place of Publication                                  Newcastle-upon-Tyne
Date of Publication                                                  1867
Publisher                                                      T. Fordyce
Title                   Local Records; or, Historical Register of rema...
Author                      FORDYCE, T. - Printer, of Newcastle-upon-Tyne
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4157862, dtype: object

In [21]:
df.loc[4159587]

Place of Publication                                  Newcastle upon Tyne
Date of Publication                                                  1834
Publisher                                                Mackenzie & Dent
Title                   An historical, topographical and descriptive v...
Author                                              Mackenzie, E. (Eneas)
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4159587, dtype: object

These two books were published in the same place, but one has hyphens in the name of the place while the other does not.

To clean this column in one sweep, we can use str.contains() to get a boolean mask.

We clean the column as follows:

In [22]:
pub = df['Place of Publication']
london = pub.str.contains('London') # get a boolean mask
london[:5]

Identifier
206    True
216    True
218    True
472    True
480    True
Name: Place of Publication, dtype: bool

In [23]:
oxford = pub.str.contains('Oxford')

In [24]:
df['Place of Publication'] = np.where(london, 'London',
                                      np.where(oxford, 'Oxford',
                                               pub.str.replace('-', ' ')))
df['Place of Publication'].head()

Identifier
206    London
216    London
218    London
472    London
480    London
Name: Place of Publication, dtype: object

在这里np function 在嵌套结构中调用，条件为使用str.contains()
获得的一系列布尔值。contains()方法的工作原理类似于内置in关键字，
该关键字用于在可迭代的(或字符串中的子字符串)中查找实体的出现。

要使用的替换是一个表示我们希望发布位置的字符串。
我们还用一个带有str.replace()的空格替换连字符，并重新分配到dataframe中的列。

In [25]:
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879.0,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London,1868.0,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869.0,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851.0,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857.0,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

## Cleaning the Entire Dataset Using the applymap Function

In [26]:
university_towns = []
with open('/Users/mike/Github/python-data-cleaning/Datasets/university_towns.txt') as file:
    for line in file:
        if '[edit]' in line:
            # Remember this 'state' until the next is found
            state = line
        else:
            # Otherwise, we hava a city: keep 'state' as last-seen
            university_towns.append((state, line))
university_towns[:5]

[('Alabama[edit]\n', 'Auburn (Auburn University)[1]\n'),
 ('Alabama[edit]\n', 'Florence (University of North Alabama)\n'),
 ('Alabama[edit]\n', 'Jacksonville (Jacksonville State University)[2]\n'),
 ('Alabama[edit]\n', 'Livingston (University of West Alabama)[2]\n'),
 ('Alabama[edit]\n', 'Montevallo (University of Montevallo)[2]\n')]

In [27]:
towns_df = pd.DataFrame(university_towns,
                       columns = ['State', 'RegionName'])
towns_df.head()

             State                                         RegionName
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

In [28]:
def get_citystate(item):
    if '(' in item:
        return item[:item.find('(')]
    elif '[' in item:
        return item[:item.find('[')]
    else:
        return item

In [29]:
towns_df = towns_df.applymap(get_citystate)
towns_df.head()

     State     RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

## Renaming Columns and Skipping Rows

In [30]:
olympics_df = pd.read_csv('/Users/mike/Github/python-data-cleaning/Datasets/olympics.csv', header = 1)
olympics_df.head()

,Unnamed: 0,? Summer,01 !,02 !,03 !,Total,? Winter,01 !.1,02 !.1,03 !.1,Total.1,? Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [31]:
new_names = olympics_df.columns.values

In [32]:
new_names =  {'Unnamed: 0': 'Country',
               '? Summer': 'Summer Olympics',
               '01 !': 'Gold',
               '02 !': 'Silver',
               '03 !': 'Bronze',
               '? Winter': 'Winter Olympics',
               '01 !.1': 'Gold.1',
               '02 !.1': 'Silver.1',
               '03 !.1': 'Bronze.1',
               '? Games': '# Games',
               '01 !.2': 'Gold.2',
               '02 !.2': 'Silver.2',
               '03 !.2': 'Bronze.2'}

In [33]:
olympics_df.rename(columns=new_names, inplace=True)
# 重新命名

In [34]:
olympics_df.head()

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

## Python Data Cleaning: Recap and Resources